@keyframes downMovingLetter {
  0% {transform: translateY(100%)}
  14% {transform: translateY(0)}
  43% {transform: translateY(0)}
  57% {transform: translateY(100%)}
  100% {transform: translateY(100%)}
}
@keyframes upMovingLetter {
  0% {transform: translateY(-100%)}
  14% {transform: translateY(0)}
  43% {transform: translateY(0)}
  57% {transform: translateY(-100%)}
  100% {transform: translateY(-100%)}
}

@keyframes movingArrow {
  100% {
    transform: translateY(1vh);
  }
}

.app-container-welcome {

  width: 100%;
  height: 100vh;
  
  background-image: linear-gradient( rgba(70, 52, 78, 0.7), rgba(70, 52, 78, 0.1) ), url('../../../../public/img/welcome.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;

  .app-welcome-language {
    padding: 5%;
    font-weight: 100;
    font-size: 3vh;
    color: #fff;
    font-family: 'Anton', sans-serif;

    div {
      user-select: none;
      cursor: pointer;
  
      transition: .3s;
        &:hover {
          padding-left: 5px;
          border-left: 5px solid var(--yellow);
        };
    }
  }

  .app-container-welcome-myname {
    padding: 25vh 0 0 6vh;
    font-size: 5.5vh;
    color: #fff;
  }

  .app-container-welcome-animatedtext {
    padding: 0 0 0 6vh;
    font-size: 5.5vh;
    color: var(--yellow);

    p {
      display: inline-block;
      color: var(--yellow);
    }

    .app-container-welcome-animatedtext-frontend {
      position: absolute;
      overflow: hidden;
      p:nth-of-type(odd) {
        animation-name: downMovingLetter;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
      }
      p:nth-of-type(even) {
        animation-name: upMovingLetter;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
      }
    }
    .app-container-welcome-animatedtext-developer {
      position: absolute;
      overflow: hidden;
      p:nth-of-type(odd) {
        animation-name: downMovingLetter;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-delay: 3.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
      p:nth-of-type(even) {
        animation-name: upMovingLetter;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-delay: 3.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
  }
  .app-container-welcome-animatedarrow {
    width: 40%;
    padding: 13vh 0 0 6vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 100;

      p {
        margin-bottom: 2vh;
      }   
      svg {
        height: 4vh;
        width: 4vh;
        animation-name: movingArrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        cursor: pointer;
      }
  }
}

@media (max-width: 767px) and (orientation:landscape) {
  .app-container-welcome {
  height: 50vw;
    .app-welcome-language {    
      font-size: 2.5vw;
      padding: 1% 5%;
    }

    .app-container-welcome-myname {
      padding: 0 0 0 6vw;
      font-size: 5vw;
    }
  
    .app-container-welcome-animatedtext {
      padding: 0 0 0 6vw;
      font-size: 5.5vw;
    }
  
    .app-container-welcome-animatedarrow {
      width: 40%;
      padding: 9vw 0 0 6vw;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-weight: 100;
  
        p {
          margin-bottom: 2vw;
        }   
        svg {
          height: 4vw;
          width: 4vw;
        }
    }
  }
}

@media (min-width: 768px) {
  .app-container-welcome {
    .app-welcome-language {
      padding: 2%;
    }

    .app-container-welcome-myname {
      padding: 15vh 0 0 6vh;
      font-size: 5.5vh;
      color: #fff;
    }
  }
}