.app-container-slider {

  width: 90%;
  padding: 2.5vh;
  margin: 3vh auto;
  position: relative;
  // z-index: -1;

  section.wrap {
    margin: 0 auto;
    flex-direction: column-reverse;
    .container-slider-slide {
      width: 100%;
      .react-slideshow-container button {
        display: none;
      }
    }
    .app-container-slider-technologies {
      display: flex;
      margin-top: 2vh;
      margin-bottom: 7vh;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      
      svg {
        margin: 0 1vh;
        width: 20%;
        height: 20%;
      }
    }
  }  

  .app-container-slider-heading {
    div {
      font-family: 'Anton', sans-serif;
      width: 20vh;
      height: 5vh;
      line-height: 5vh;
      border-radius: 2rem;
      text-align: center;
      color: #fff;
      background-color: var(--purple);
      margin: 2vh 0 2vh 0;
    }
    h1 {
      font-family: 'Anton', sans-serif;
      font-weight: 100;
      line-height: 110%;
      margin: 0 0 4vh 0;
    }
    p {
      font-family: 'Work Sans', sans-serif;
      color: var(--gray);
      line-height: 150%;
      margin: 0 0 6vh 0;
    }
  }

  .slideheading {
  position: relative;
  min-height: 50%;
    top:35%;
    text-align: center;
    font-size: 3vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 5.5vh;
    color: #fff;
    div {
      transform: scale(3);
      margin-bottom: 3vh;
    }
    
  }
}

@media (max-width: 767px) and (orientation:landscape) {
  .app-container-slider {

    padding: 2.5vw;
    margin: 3vw auto;
    position: relative;
  
    section.wrap {
      .app-container-slider-technologies {
        margin: 9vw 0;
        svg {
          margin: 0 1vw;
          width: 20%;
          height: 20%;
        }
      }
    }  
  
    .app-container-slider-heading {
      div {
        width: 20vw;
        height: 5vw;
        line-height: 5vw;
        margin: 2vw 0 2vw 0;
      }
        margin: 0 0 4vw 0;
      }
      p {
        margin: 0 0 6vw 0;
      }
    }
  
    .slideheading {
      font-size: 5.5vw;
      div {
        margin-bottom: 3vw;
      }
      
    }
}


@media (min-width: 768px) {
  .app-container-slider {

  width: 90%;
  padding: 2.5vw;
  margin: 3vw auto;
  // z-index: -1;

  section.wrap {
    flex-direction: row;
    .container-slider-slide {
      width: 70%;
    }
    .app-container-slider-technologies {
      display: flex;
      margin: 4vh 0;
      flex-direction: column;
      
      svg {
        margin: 1vh 1vh;
        width: 20%;
        height: 20%;
      }
    }
  }  

  .app-container-slider-heading {
    div {
      width: 20vh;
      height: 5vh;
      line-height: 5vh;
      margin: 2vh 0 2vh 0;
    }
    h1 {
      margin: 0 0 4vh 0;
    }
    p {
      margin: 0 0 6vh 0;
    }
  }

  .slideheading {
    font-size: 5.5vh;
    div {
      margin-bottom: 3vh;
    }
    
  }
}
}