@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:wght@350;900&display=swap');
// font-family: 'Anton', sans-serif;
// font-family: 'Work Sans', sans-serif;

.app {

  --yellow: #FAED26;
  --purple: #46344E;
  --gray: #000000BF;

  max-width: 100%;
  min-height: 100vh;
  outline: none;
}