.app-container-projects-listofprojects {
  width: 90%;
  margin: 0 auto 5vh auto;
  padding: auto 3vh;
}

@media (max-width: 767px) and (orientation:landscape) {
  .app-container-projects-listofprojects {
    padding:  0 3vw;
  margin: 0 auto 5vw auto;

  }
}

@media (min-width: 768px) {
  .app-container-projects-listofprojects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}